body {
    box-sizing: border-box;
    width: 322px;
    padding: 1rem;
}

.clear_fix{
    clear: both;
}

.switch {
    float: right;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #575757;
}

input:focus+.slider {
    box-shadow: 0 0 1px #575757;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: #000000;
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.pupup_menu {
    font-size: 24px;
}

.pupup_menu>div{
    margin-bottom: 1rem;
}

.pupup_menu>div:not(:nth-child(1)){
    padding-top: 1rem;
}

.menu_header{
    position: relative;
    margin-bottom: 1rem;
}

#a_edit{
    font-size: 16px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    right: 0;
}

#a_add{
    margin: auto;
    display: block;
    text-align: center;
    font-size: 20px;
    width: 274px;
    line-height: 60px;
    border: 1px solid black;
    text-decoration: none;
}

.a_menu_item{
    color: black;
}

.night{
    background-color: black;
    color: white;
}
.day{
    background-color: white;
    color: black;
}